/*********desktop version***************************/
/************ABOUT***************/
@media only screen and (min-width: 800px) { 
.container_box {
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 26%;
    padding-top: 12.5%;
    position: relative;
    padding-left: 26%;
  }
  
  .container_box > div {
    background-color: rgba(255, 255, 255, 0.8);
 
    text-align: center;
    font-size: 50px;
  }

.aboutwindow{
    position: absolute;
    top: 11%;
    left: 24%;
    z-index: -1;
    width: 52%;
}


.text_about{
    padding-top: 1.%;
    font-size: 2rem;
    color: black;
    padding-left: 2%;
    padding-bottom: 8%;
}

.return{
    text-align: start;
    font-size: 2rem;
    padding: 10px;
}
.text_p{
    font-size: 1rem;
    text-align: start;
    padding: 10px;
    padding-top: 0;
}
.Shipment{
    text-align: start;
    font-size: 2rem;
    padding: 10px;
}
.text_s{
    font-size: 1rem;
    text-align: start;
    padding: 10px;
    padding-top: 0;
}
.Order{
    text-align: start;
    font-size: 2rem;
    padding: 10px;
}
.text_o{
    font-size: 1rem;
    text-align: start;
    padding: 10px;
    padding-top: 0;
}

#container_icons{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 15px;
  padding: 7%;
  padding-top: 0%;
  position: relative;
  padding-left: 6%;
}
#container_icons div{
  height: 10px; 
}
div.item_icon{
  width: 17px;
}
div.search_icon{
  width: 25px;
}
div.heart_icon{
  width: 38px;
    padding-top: 6%;
}



  
/***ANIMATION EKSEMPEL********/
.animation{
    position: absolute;
    width: 3%;
    top: 31%;
    left: 20%;
    animation: animation infinite;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-delay: 0s;
}
  
@keyframes animation {
    0%   { left: 20%; top: 20%;}
    25%  { left: 78%; top: 20%;}
    50%  { left: 78%; top: 138%;}
    75%  { left: 20%; top: 138%;}
    100% { left: 20%; top: 20%;}
}
}


/*********Phone version*****************/
@media only screen and (max-width: 600px) {
  .container_box {
    display: grid;
    grid-template-rows: 1fr;
    gap: 0px;
    padding: 20%;
    padding-top: 10.5%;
    position: relative;
    padding-left: 20%;
  }
  
  .container_box > div {
    background-color: rgba(255, 255, 255, 0.8);
 
    text-align: center;
    font-size: 50px;
  }

.aboutwindow{
  position: absolute;
  top: 8%;
  left: 16%;
  z-index: -1;
  width: 70%;
}

.text_about{
  font-size: 1.2rem;
  color: black;
  padding-left: 2%;
  padding-bottom: 8%;
  padding-top: 3%;
}

.return{
  text-align: start;
  font-size: 1.1rem;
  padding: 10px;
}
.text_p{
  font-size: 0.6rem;
  text-align: start;
  padding: 10px;
  padding-top: 0;
}
.Shipment{
  text-align: start;
  font-size: 1.1rem;
  padding: 10px;
}
.text_s{
  font-size: 0.6rem;
  text-align: start;
  padding: 10px;
  padding-top: 0;
}
.Order{
  text-align: start;
  font-size: 1.1rem;
  padding: 10px;
}
.text_o{
  font-size: 0.6rem;
  text-align: start;
  padding: 10px;
  padding-top: 0;
}

.animation{
  position: absolute;
  width: 3%;
  top: 31%;
  left: 20%;
  animation: animation infinite;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-delay: 0s;
}

@keyframes animation {
  0%   { left: 12%; top: 27%;}
  25%  { left: 88%; top: 27%;}
  50%  { left: 88%; top: 150%;}
  75%  { left: 10%; top: 150%;}
  100% { left: 12%; top: 27%;}
}


}