@media screen and (min-width: 750px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
    column-gap: 1%;
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 6%;
    margin-bottom: 20%;
  }
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: auto;
}

.gallery-text {
  position: absolute;
  top: 8%;
  left: 6%;
  color: #fff;
  font-family: "VT323", monospace;
  font-weight: bold;
  text-align: left;
  font-size: 200%;
  text-transform: uppercase;
}

.gallery-text2 {
  position: absolute;
  top: 22%;
  left: 6%;
  right: 6%;
  color: black;
  font-family: "VT323", monospace;
  text-align: left;
  font-size: 150%;
}

.gallery-text3 {
  position: absolute;
  top: 27%;
  left: 6%;
  right: 6%;
  color: black;
  font-family: "VT323", monospace;
  text-align: center;
  font-size: 150%;
}

.gallery-text2 img {
  margin-left: auto;
  margin-right: auto;
}

/*** ude 
.gallery_con {
  position: absolute;
  left: 15%;
  top: 24%;
  display: flex;
  justify-content: center;
  width: 68%;
  height: auto;
}
**/
.blogicons {
  position: absolute;
  z-index: 10;
  margin-top: 15%;
  margin-left: 25%;
}

.blogicons img {
  width: 12%;
}

/*** overlay ****/
.containerb {
  position: absolute;
  left: 15%;
  top: 24%;
  display: flex;
  justify-content: center;
  width: 68%;
  height: auto;
}

.overlayimg {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f36d20;
}

.containerb:hover .overlay {
  opacity: 90%;
}

.overlaytext {
  font-family: "VT323", monospace;
  color: white;
  font-size: 2cqw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
