#end {
  max-width: 500px;
  /****ERSTAT MED OVERSKRIFT FONT****/
  font-family: "VT323", monospace;

  font-size: 2cqw;
  color: black;
  margin: 2%;
  background-color: #fff;
}

#thanks {
  position: absolute;
  left: 42%;
  top: 20%;
}

#keiko {
  position: absolute;
  font-size: 4cqw;
  top: 25%;
  left: 47%;
}

#return {
  position: absolute;
  left: 43%;
  top: 35%;
  color: black;
}

#end_logo {
  position: absolute;
  left: 30%;
  top: 45%;
  width: 50%;
}
