#kurv_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2%;

  width: fit-content;
}
#kurv_over_over {
  grid-column: 1;
  font-family: "VT323", monospace;
  font-size: 3cqw;
  color: black;
  font-weight: bolder;
  width: fit-content;
}

#kurv_kurv {
  grid-column: 2;
  width: 20%;
}

#kurv_grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2%;
  width: fit-content;
}

#kurv_img {
  grid-column: 1;
  width: 20%;
}

#kurv_text {
  grid-column: 2;
}
