#kurv_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2%;

  width: fit-content;
}
#kurv_over_over {
  grid-column: 1;
  font-family: "VT323", monospace;
  font-size: 3cqw;
  color: black;
  font-weight: bolder;
  width: fit-content;
}
#kurv_kurv {
  grid-column: 2;
  width: 20%;
}

#kurv_grid2 {
  margin: 5%;
}

#kurv_grid2_1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#kurv_dior {
  grid-column: 1;
  width: 100%;
}

#pris1 {
  grid-column: 2;
  font-size: 2cqw;
  color: black;
  font-family: "VT323", monospace;
  position: absolute;
  top: 43%;
  left: 35%;
}

#kurv_pop1 {
  grid-column: 1;
  width: 120%;
}

#kurv_dior2 {
  width: 20%;
  position: absolute;
  top: 52%;
  left: 7%;
}

#kurv_text1 {
  font-size: 2cqw;
  color: white;
  font-family: "VT323", monospace;
  position: absolute;
  top: 44%;
  left: 7%;
}

#kurv_pop2 {
  width: 30%;
  padding-top: 5%;
}

#kurv_boots2 {
  width: 17%;
  position: absolute;
  top: 113%;
  left: 10%;
}

#kurv_text2 {
  font-size: 2cqw;
  color: white;
  font-family: "VT323", monospace;
  position: absolute;
  top: 105%;
  left: 7%;
}
