/****************************** IMG ********************************/
.gallery-text5 {
  position: absolute;
  top: 22%;
  place-content: center;
  left: 18%;
  width: 65%;
}

.gallery-text6 {
  position: absolute;
  top: 18%;
  place-content: center;
  left: 18%;
  width: 60%;
}
.shop-text {
  position: absolute;
  top: 7%;
  left: 6%;
  color: #fff;
  font-family: "VT323", monospace;
  font-weight: bold;
  text-align: left;
  font-size: 200%;
  text-transform: uppercase;
  z-index: 50;
}

/****************************** PRICE ********************************/
#price {
  margin-top: 2%;
  font-size: 170%;
  font-family: "VT323", monospace;
}

/****************************** BUTTON ********************************/
#basket_button {
  font-family: "VT323", monospace;
  margin-top: 2%;
  position: relative;
  padding: 2% 2%;
  border: 2px double #f36d20;
  font-size: 150%;
  text-transform: uppercase;
  transition: background 0.275s;
  background: #f5d6e8;
  margin-bottom: 8%;
}

#basket_button:hover,
#basket_button:focus {
  background: #f36d20;
  color: black;
  cursor: pointer;
}
#favheart {
  position: relative;
  left: 80%;
  top: 6%;
}
#favheart img {
  position: absolute;
  width: 10%;
}
