

body{
    background-color: rgb(255, 255, 255);
}

h1{
    color: black;
    font-size: 7rem;
    position: absolute;
    left: 38cqw;
    top: 13cqw;
}

.about {
    color: black;
    font-size: 7rem;
    position: absolute;
    top: 2cqw;
    left: 0cqw;
    padding: 13px 610.4px;
    background-color: orangered;
}






/****************menu drop down***********************/
.logo {
    background-color: rgb(251, 93, 35);
    width: 1493px;
    padding: 13px;
    position: absolute;
    left: 0cqw;
    top: 1cqw;
  }

p {
    color: white;
}

.span2 {
    position: absolute;
    left: 30cqw;
    top: 5.5cqw;
    font-size: 2rem;
}
.span3 {
    position: absolute;
    left: 16cqw;
    top: 5.5cqw;
    font-size: 2rem;
}
.span4 {
    position: absolute;
    left: 46cqw;
    top: 5.5cqw;
    font-size: 2rem;
}

.About{
    text-decoration: none;
    color:black;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 10cqw;
    top: 8cqw;
    background-color: rgb(251, 93, 35);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 93px 306px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/************about***************/
.about {
    color: black;
    font-size: 7rem;
    position: absolute;
    top: 2cqw;
    left: 0cqw;
    padding: 13px 610.4px;
    background-color: orangered;
}

h2 {
    font-size: 1.5rem;
    position: absolute;
    top: 29cqw;
    left: 30cqw;
}

h3 {
    font-size: 1.5rem;
    position: absolute;
    top: 40cqw;
    left: 30cqw;
}

h4 {
    font-size: 1.5rem;
    position: absolute;
    top: 51cqw;
    left: 30cqw;
}

.animation {
    width: 73px;
    height: 62px;
    top: 25cqw;
    left: 24cqw;
    background-image: url(Skærmbillede\ 2023-05-22\ 094104.png);
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
  
@keyframes example {
    0%   {background-image: url(Skærmbillede\ 2023-05-22\ 094104.png); left:380px; top:380px;}
    25%  {background-image: url(Skærmbillede\ 2023-05-22\ 094104.png); left:1000px; top:380px;}
    50%  {background-image: url(Skærmbillede\ 2023-05-22\ 094104.png); left:1000px; top:1000px;}
    75%  {background-image: url(Skærmbillede\ 2023-05-22\ 094104.png); left:380px; top:1000px;}
    100% {background-image: url(Skærmbillede\ 2023-05-22\ 094104.png); left:380px; top:380px;}
  }


.footer {
    color: black;
    font-size: 4rem;
    position: absolute;
    top: 80cqw;
    left: 0cqw;
    padding: 13px 668.4px;
    background-color: orangered;    
}
